$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #ecf0f1 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #b4bcc2 !default;
$gray-600: #95a5a6 !default;
$gray-700: #7b8a8b !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: #253746 !default;
$secondary: $gray-600 !default;
$success: #00b388 !default;
$warning: #f39c12 !default;
$danger: #e74c3c !default;
$light: $gray-200 !default;
$text-light: $gray-400 !default;
$dark: $gray-700 !default;

$border-color: $gray-300 !default;
$tick-color: $gray-200 !default;
$light-bg: $gray-100 !default;
$light-yellow: #fcf7cd !default;
$text-muted: #666 !default;
$text-color: #333 !default;
$blue: #a3a3ff !default;

$font-size: 13px;

.gantt-container {
  display: grid;
  height: 100%;
  grid-template-rows: min-content minmax(0, 1fr);

  .gantt-header-container {
    display: grid;
    grid-template-columns: min-content 1fr;
    font-size: $font-size;
    border-top: 1px solid $gray-400;
    border-right: 1px solid $gray-400;
    border-left: 1px solid $gray-400;

    .gantt-dates-container {
      overflow-x: auto;
    }
  }

  .gantt-body-container {
    display: grid;
    grid-template-columns: min-content 1fr;
    border-right: 1px solid $gray-400;
    border-left: 1px solid $gray-400;
    border-bottom: 1px solid $gray-400;

    .gantt-swimlanes-container {
      overflow-y: auto;
      padding-bottom: 20px; // bcs tasks-container contains scrollbar
    }

    .gantt-tasks-container {
      overflow: auto;
    }
  }
}

.gantt-header {
  .grid-header {
    fill: #ffffff;
    stroke: $border-color;
    stroke-width: 1.4;
  }
}

.gantt {
  .grid-background {
    fill: none;
  }

  .grid-row {
    fill: #ffffff;
  }

  .grid-row:nth-child(even) {
    fill: $light-bg;
  }

  .tick {
    stroke: $tick-color;
    width: 0.1px;

    &.thick {
      stroke: #ababab;
      width: 0.2px;
    }
  }

  .today-highlight {
    fill: $light-yellow;
    opacity: 0.5;
  }

  .bar {
    fill: $gray-700;
    stroke-width: 0;
    transition: stroke-width .3s ease;
    user-select: none;
  }

  .arrow {
    cursor: pointer;
    fill: none;
    stroke: $gray-600;
    stroke-width: 1.5px;

    &.active {
      stroke: $success;
    }
  }

  .arrow-clickable {
    cursor: pointer;
    fill: none;
    stroke: transparent;
    stroke-width: 10px;
  }

  .bar-progress {
    fill: $blue;
  }

  .bar-label {
    fill: #fff;
    dominant-baseline: central;
    text-anchor: middle;
    font-size: $font-size;
    font-weight: lighter;

    &.big {
      fill: $primary !important;
      text-anchor: start;
    }
  }

  .bar-handle {
    fill: $light;
    cursor: ew-resize;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease;

    &.progress {
      fill: $gray-600;
    }
  }

  .progress-marker {
    fill: $gray-600;
  }

  .endpoint {
    fill: $light;
    opacity: 0;
    transition: opacity .3s ease;

    &.active {
      fill: $success;
      opacity: 1;
    }

    &.end.clickable:hover {
      cursor: copy;
      stroke: $success;
      stroke-width: 1px;
      opacity: 1;
    }

    &.visible {
      opacity: 1;
    }
  }

  .icon-delete {
    pointer-events: bounding-box;
    cursor: pointer;

    path {
      fill: $danger;
    }
  }

  .bar-wrapper {
    cursor: pointer;
    outline: none;
    pointer-events: bounding-box;

    .bar-group-wrapper {
      outline: none;
    }

    &:hover:not(.disabled) {

      .bar-handle {
        visibility: visible;
        opacity: 1;
      }

      .endpoint.clickable {
        opacity: 1;
      }
    }
  }

  .lower-text, .upper-text {
    font-size: $font-size;
    text-anchor: middle;
  }

  .upper-text {
    fill: $gray-700;
  }

  .lower-text {
    fill: $text-color;
  }

  .hide {
    display: none;
  }
}

.swimlanes-header, .swimlanes-background {
  fill: #ffffff;
  stroke: $border-color;
  stroke-width: 1.4;
}

.swimlane-header-rect {
  stroke: $border-color;
  stroke-width: 1.4;
  fill: #ffffff;

  &.empty {
    stroke: none;
  }
}

.gantt-swimlanes-container {
  font-size: $font-size;

  .gantt-swimlanes {

    .swimlane {

      .swimlane-rect:not(.empty) {
        stroke: $border-color;
        stroke-width: 1.4;
      }

      .swimlane-rect.empty {
        stroke: none;
        stroke-width: 0;
      }

    }

    .swimlane-resize-handle {
      cursor: col-resize;
      fill: transparent;
    }

  }
}

.scroll-y {
  overflow-y: scroll;
}

.scroll-x {
  overflow-x: scroll;
}

.invisible-scroll {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* removes scrollbar for Firefox */
  -ms-overflow-style: none; /* removes scrollbar for Internet Explorer 10+ */

  &::-webkit-scrollbar {
    /* removes scrollbar for WebKit */
    width: 0;
    height: 0;
  }
}
